# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Bone Daemon (resync)
Icon=${SNAP}/boned128.png
MimeType=x-scheme-handler/bone;
Exec=boned %u --resync
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Bone Digital Currency Daemon (resync) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;bone;main;daemon;server;crypto;currency;snap;snapcraft;
Name[de_DE]=boned-resync.desktop.desktop
