# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Bone Daemon Testnet (resync)
Icon=${SNAP}/boned128testnet.png
MimeType=x-scheme-handler/bone;
Exec=boned %u --testnet --resync
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Bone Digital Currency Testnet Daemon (resync) ©️ 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;bone;testnet;daemon;server;crypto;currency;snap;snapcraft;resync;
Name[de_DE]=boned-testnet-resync.desktop.desktop
